.wrapper {
    margin: auto;
    font-family: 'Roboto Condensed';
    font-style: normal;
    max-width: 98vmin;
    font-weight: 400;
}

.navigation {
    display: flex;
    justify-content: space-between;

    button {
        padding: 0;
        background: none;
        border: none;
        font-size: 5vmin;
        line-height: 5vmin;
        padding: 2vmin;
        border-radius: 6vmin;
        color: #000000;

        &:hover {
            background: #eeeeee;
        }

        &:active {
            background: #dbdbdb;
        }

        mat-icon {
            font-size: 5vmin;
            line-height: 5vmin;
            height: 5vmin;
            width: 5vmin;
        }
    }
}

.title {
    text-align: center;
    font-size: 8vmin;
    line-height: 8vmin;
    color: #000000;
}

.form-all-params {
    display: flex;
    flex-direction: column;
    margin: 0 24px;

    .form-all-params__max-min-kcal {
        display: flex;
        justify-content: space-between;

        ::ng-deep .mat-form-field {
            width: 45%;
        }
    }


    ::ng-deep .mat-radio-button {
        font-size: 4.5vmin;
        margin-bottom: 5vmin;
    }

    ::ng-deep .mat-radio-button {
        margin-right: 5vmin;
    }

    ::ng-deep .mat-form-field-label {
        font-size: 5vmin;
    }

    ::ng-deep .mat-form-field-infix {
        padding: 0;
        width: auto;
    }

    ::ng-deep .mat-form-field-flex {
        padding: .25em .25em 0 .25em;
        background: none;

        &:hover {
            background-color: #0000000a;
        }
    }

    ::ng-deep .mat-input-element {
        height: 9vmin;
        font-size: 4.5vmin;
        color: #000000;
        line-height: 5.5vmin;
    }
}

.form-body-params {
    display: flex;
    flex-direction: column;

    .form-body-params__choice-gender-label {
        font-size: 4.5vmin;
        line-height: 5vmin;
        color: #000000;
        margin-bottom: 3vmin;
    }
}

.submit {
    margin: auto;
    padding: 2vmin;
    font-size: 5vmin;
    line-height: 6vmin;
    color: #FFFFFF;
    background: #799CF4;
    z-index: 2;
    box-shadow: 0px 4px 4px #00000040;
    border: none;
    margin-bottom: 23px;

    &:hover {
        background: #6989d8;
    }

    &:active {
        background: #5873b6;
    }
}

.submit--calculate {
    margin-left: 0;
}