<div class="wrapper">
    <header class="header">
        <div class="header__title">
            Calorie Calendar
        </div>

        <div class="header__slogan">
            Your shape assistant
        </div>

        <img class="header__logo" src="./assets/img/logo.png" alt="logo">
    </header>

    <button class="sing-in" routerLink="/calendar">
        <img class="sing-in__logo" src="./assets/img/google.png" alt="google">
        <p class="sing-in__text">
            Sign in with Google
        </p>
    </button>
</div>