<div class="top-panel">
    <form class="buttons" [formGroup]="form">
        <button class="buttons__setup" [routerLink]="['/setup']">
            <mat-icon fontSet="material-icons-outlined">brightness_7</mat-icon>
        </button>
        <mat-form-field class="buttons__month" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>

    <div class="week">
        <div class="column" *ngFor="let i of days; index as ind" [routerLink]="['/view-day']"
            [queryParams]="{date: i.date|date:'Y-M-d'}">
            <div class="column__kcal"
                [ngStyle]="{color: kcalDays[ind] < profile.minKcal ? '#F5D45E' : kcalDays[ind] > profile.maxKcal ? '#F47981' : '#799CF4'}">
                <p>{{kcalDays[ind]? kcalDays[ind]: ''}}</p>
            </div>
            <div class="column__day">
                <p [ngClass]="(+dateNow == +i.date ? 'column__day--now' : '') + ' '+ (+i.date == +form.value.date ? 'column__day--current' : '')">
                    {{i.date.getDate()}}</p>
            </div>
            <div class="column__week-day">
                <p>{{i.date|date:'E'}}</p>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" (swiperight)="onSwipe('right')" (swipeleft)="onSwipe('left')">
    <div class="time-column">
        <div class="time-column__time" *ngFor="let i of time">{{i + ':00'}}</div>
    </div>
    <div class="food">
        <div class="food__day" *ngFor="let day of days; index as dayIndex">
            <div class="food__time" *ngFor="let time of day.meals; index as timeIndex">
                <div class="food__select food__select--filled" *ngIf="time; else empty" [routerLink]="['/meal', 'view']"
                    [queryParams]="{date: day.date|date:'Y-M-d',time:timeIndex}">
                    <div class="food__title">{{time.title}}</div>
                    <div class="food__kcal">{{time.kcal}}</div>
                </div>
                <ng-template #empty>
                    <div class="food__select food__select--empty" [routerLink]="['/meal', 'new']"
                        [queryParams]="{date: day.date|date:'Y-M-d',time:timeIndex}">
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>