<div class="wrapper">
    <button class="back" [routerLink]="['/calendar']">Back</button>
    <h1>{{meal.title}}</h1>
    <div class="data">
        <h2>Time</h2>
        <div class="value">{{time}}:00</div>
        <h2>Kcal</h2>
        <div class="value">{{meal.kcal}}</div>
        <h2>Fats (gm)</h2>
        <div class="value">{{meal.fats}}</div>
        <h2>Proteins (gm)</h2>
        <div class="value">{{meal.proteins}}</div>
        <h2>Carbohydrates (gm)</h2>
        <div class="value">{{meal.carbohydrates}}</div>
        <div class="image-section" *ngIf="meal.image">
            <h2>Image</h2>
            <img [src]="meal.image" alt="image">
        </div>
        <button class="edit" [routerLink]="['/meal', 'edit']" [queryParams]="{date: formatDate(date), time: time}">
            Edit meal</button>
    </div>
</div>